#!/bin/bash
apt update
apt install -y apache2
sed -i 's/Listen 80/Listen ${server_ports}/' /etc/apache2/ports.conf
systemctl enable apache2
systemctl restart apache2    
echo '<html><h1>Hello From your Ubuntu Web Server runnig on port : ${server_ports}!</h1></html>' > /var/www/html/index.html
